[submodule "Bryant/MobileSAM"]
	path = Bryant/MobileSAM
	url = https://github.com/ChaoningZhang/MobileSAM.git
[submodule "Bryant/StreamDiffusion"]
	path = Bryant/StreamDiffusion
	url = https://github.com/BlueStarBurst/StreamDiffusion.git
